
<Modal @ref=@modal UseStaticBackdrop="true" CloseOnEscape="true">
    <HeaderTemplate>
        @TextoTitulo
    </HeaderTemplate>
    <BodyTemplate>
        <label style="white-space:pre">
            @TextoMsg
        </label>
    </BodyTemplate>
    <FooterTemplate>
       <Button Color="ButtonColor.Primary" Style="width:100px" @onclick="OnHideModalClick">OK</Button>;
</FooterTemplate>
</Modal>

@code {

    private Modal modal = new();
    private string? TextoMsg;
    private string? TextoTitulo;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    public async Task Mostrar(string pMensagem, string pTitulo = "Atenção")
    {
        TextoTitulo = pTitulo;
        TextoMsg = pMensagem;
        await modal.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal.HideAsync();
    }
}